{% extends "base.html" %}

{% block content %}

    <section class="pt-12">
        <div class="py-16 flex flex-col">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl">
                List of all your cattle
            </h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-600">
                Browse, view, edit each of your registered cattle.
            </p>
        </div>
    </section>


{% endblock %}
