{% extends "base.html" %}

{% block content %}

    <section class="pt-12">
        <div class="py-16 pb-8 flex flex-col">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl">
                Esp32 Live Records
            </h1>
            <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-600">
                See your Esp32 weight recordings update in realtime.
            </p>
        </div>
    </section>




    <div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-gray-900 mb-10">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-white">
            <thead class="text-sm text-gray-700 uppercase dark:text-white border-b border-gray-600">
            <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    Cow RFID Tag
                </th>
                <th scope="col" class="px-6 py-3">
                    Cow Breed
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    Gender
                </th>
                <th scope="col" class="px-6 py-3">
                    Recorded At
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    Weight (Kg)
                </th>
            </tr>
            </thead>
            <tbody>

            {% if not empty %}

                {% for record in records %}

                    <tr class="border-b border-gray-200 dark:border-gray-700">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                            {{ record.cow.rfid }}
                        </th>
                        <td class="px-6 py-4">
                            {{ record.cow.breed }}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            {{ record.cow.get_breed_display }}
                        </td>
                        <td class="px-6 py-4">
                            {{ record.updated_at | date:'H:i d/m/Y' }}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            {{ record.weight }}
                        </td>
                    </tr>

                {% endfor %}

            {% else %}

                <tr>
                    <th></th>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" colspan="5"
                        class="text-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        You have no records yet!!
                    </th>
                </tr>

            {% endif %}

            </tbody>
        </table>
    </div>



{% endblock %}
